In [2]:
import pandas as pd
import os

In [3]:
# List to store DataFrames
dataframes = []

In [4]:
# Directory where the CSV files are stored
path = 'Data_Cyclistic'

In [5]:
# Loop through all the CSV files in the directory
for file in os.listdir(path):
    if file.endswith('.csv'):
        # Read the CSV file and append it to the dataframes list
        df = pd.read_csv(os.path.join(path, file))
        dataframes.append(df)

# Concatenate all DataFrames into a single one
merged_df = pd.concat(dataframes, ignore_index=True)

# Save the merged DataFrame to a new CSV file
merged_df.to_csv('cyclistic_merged.csv', index=False)

In [7]:
#read the file using pandas and assign it into a variable 
data = pd.read_csv("cyclistic_merged.csv", sep=",")
data.sample()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
4645736,A69A6DB402F35A1A,classic_bike,2024-05-21 08:13:56,2024-05-21 08:23:33,Kingsbury St & Kinzie St,KA1503000043,Columbus Dr & Randolph St,13263,41.889177,-87.638506,41.884728,-87.619521,member

In [8]:
#Get the description of the file
data.describe()

          start_lat     start_lng       end_lat       end_lng
count  6.483343e+06  6.483343e+06  6.474333e+06  6.474333e+06
mean   4.190304e+01 -8.764656e+01  4.190343e+01 -8.764680e+01
std    4.488528e-02  2.730491e-02  5.123858e-02  4.929987e-02
min    4.163000e+01 -8.794000e+01  0.000000e+00 -1.440500e+02
25%    4.188103e+01 -8.766000e+01  4.188103e+01 -8.766000e+01
50%    4.189897e+01 -8.764319e+01  4.189993e+01 -8.764335e+01
75%    4.193000e+01 -8.762956e+01  4.193000e+01 -8.762963e+01
max    4.207000e+01 -8.746000e+01  8.796000e+01  0.000000e+00

In [10]:
#Get the shape of the file
data.shape

(6483343, 13)

In [11]:
data['rideable_type'].value_counts()

electric_bike    3224572
classic_bike     3224390
docked_bike        34381
Name: rideable_type, dtype: int64

In [12]:
data['member_casual'].value_counts()

member    4113411
casual    2369932
Name: member_casual, dtype: int64